# Lists in Python
## By James Sifuna, Ph.D
Let's discuss Lists in Python. List items are `ordered`, `changeable`, and allow `duplicate` values. Lists are written within square brackets.

In [1]:
fruits = ["apple","banana","cherry"]
print(fruits)

['apple', 'banana', 'cherry']

We can also print the length of a data type in python using `len`, while `type` will tell you the nature of the data you are dealing with. i.e `list`, `tuple` or `dictionary`.

In [2]:
print(len(fruits))
print(type(fruits))

3
<class 'list'>

Python counts items from `zero`. So if you want to play with the fruits list above then `apple` is `0`, while `banana` is `1` and `cherry` is `2`.

In [3]:
print(fruits[-1])
print(fruits[1:2])
print(fruits[1:])

cherry
['banana']
['banana', 'cherry']

We can also use if statements in python. like below.

In [4]:
if "apple" in fruits:
  print("yes,'apple' is in the fruits list")

yes,'apple' is in the fruits list

# Adding items in an existing list.
On this, we either append, insert or extend. It is a trivial procedure to do that.
What I want us to learn is how and when to use the `key` words, `extend`, `append` and `insert`.

In [5]:
# Now, let us try inserting "watermelon" as the third item:
fruits.insert(2,"watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry']

In [7]:
# What if we append? append means we add the items
fruits.append("orange")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'orange']

In [8]:
#add the elements of tropical to this list so that i lengthen it:
fruits = ["apple","banana","cherry"]
fruits2 = ["mango","pineapple","papaya"]
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [9]:
fruits = ["apple","banana","cherry"]
fruits2 = ["kiwi","orange"]
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Let us now try removing an item(s) on a given list
That should not be a hustle for sure. It is straight too.
remove(): it removes the specified item. pop(): it removes the specified index. del: it removes the specified index also it can delete the list completely. clear():List remains, but has no content empties the list.
What I want us to learn is how to use the `key` words `remove`, `pop`, `del`, and `clear`.

In [10]:
fruits = ["apple", "banana", "cherry", "banana", "kiwi"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana', 'kiwi']

In [11]:
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [12]:
fruits = ["apple", "banana", "cherry"]
del fruits[0]
print(fruits)

['banana', 'cherry']

In [13]:
# This is abit crude and always be keen with this because the print function won't give anything.
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

# Python also allows us to sort lists
sort() : To sort descending, use the keyword argument reverse = True

reverse(): This method reverses the current sorting order of the elements.

In [14]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort()
print(fruits)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [15]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort(reverse=True)
print(fruits)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [16]:
fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'Kiwi', 'Orange', 'banana']

# In python, it is also possible to join two or more lists
   *  using + operator
   *  Append list2 into list1: use the extend() method to add list2 at the end of list1.

In [17]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [18]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

# We can also copy lists in Python

In [19]:
fruits = ["apple", "banana", "cherry"]
Newlist = fruits.copy()
print(Newlist)

['apple', 'banana', 'cherry']

In [20]:
fruits = ["apple", "banana", "cherry"]
Newlist = list(fruits)
print(Newlist)

['apple', 'banana', 'cherry']