# **Python Sets by James Sifuna (PhD)**

A set in Python is an unordered collection of data types that is iterable, mutable, and has no duplicate elements. Sets are represented by {} (values enclosed in curly braces, mostly we employ them in Mathematics and Physics).

- Unordered: Sets are unordered, meaning the items in a set do not have a defined order.

- Unique Elements: Sets include only unique elements. **No duplicates are allowed.**

- Mutable: While individual set items are unchangeable (immutable), the set as a whole is mutable.

- No Indexing or Slicing: There is no index attached to any element in a Python set, so they do not support any indexing or slicing operation3.

In [1]:
fruits = {"apple", "banana", "cherry", "apple"}
print(fruits)
print(len(fruits))
print(type(fruits))

{'cherry', 'apple', 'banana'}
3
<class 'set'>

In [2]:
fruits = {"apple", "banana", "cherry", True, 1, 2}
print(fruits)

{True, 2, 'cherry', 'apple', 'banana'}

In [3]:
#Using the set() constructor to make a set: In principle, we can run away from the curly braces and use the set constructor
fruits = set(("apple", "banana", "cherry"))
print(fruits)

{'cherry', 'apple', 'banana'}

# **Access Set items**

We cannot access items in a set by reffering to an index or a key.

we can loop thorught tge set itens using a for loop , or ask if a soecified values is present in a set , by using the **in** keyword.

In [4]:
fruits = {"apple", "banana", "cherry"}
print("banana" in fruits)

True

# **Add Set Items**

- once a set is created we cannot change its items , we can add new items.using add() method or the update() method.

In [5]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'orange', 'apple', 'banana'}

In [6]:
fruits = {"apple", "banana", "cherry"}
fruits2 = {"pineapple", "mango", "papaya"}
fruits.update(fruits2)
print(fruits)

{'mango', 'pineapple', 'papaya', 'cherry', 'apple', 'banana'}

# **Remove Set Items**

- Remove "banana" by using the remove() method.
- Remove "banana" by using the discard() method.
- Remove a random item by using the pop() method.
- clear() method empties the set.
- del keyowrd will delete the set completely.

In [7]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [8]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [9]:
fruits = {"apple", "banana", "cherry"}
x = fruits.pop()
print(x)
print(fruits)

cherry
{'apple', 'banana'}

In [10]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [11]:
fruits = {"apple", "banana", "cherry"}
del fruits

# **Join Two Sets**

union() method , update() method - intersection_update() , symmetric_difference_update()

In [12]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [13]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'cherry', 'google', 'banana'}

In [15]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}