
# **Python Tuples**
By James Sifuna, PhD

- Immutable: Once a tuple is created, you cannot change its content. This means you cannot add, change, or remove items after the tuple has been created.

- Ordered: The items in a tuple have a defined order that will not change. That means, if you add new items to a tuple, the new items will be added at the end of the Tuple.

- Allow Duplicates: Since tuples are indexed, they can have items with the same value1.

- Tuples are written with round brackets.().

In [1]:
fruits = ("apple", "banana", "cherry", "apple", "cherry")
print(fruits)
print(len(fruits))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5

In [2]:
print(type(fruits))

<class 'tuple'>

In [3]:
fruits = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(fruits)

('apple', 'banana', 'cherry')

# **Access Tuple Items**

In [4]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[1])

banana

In [5]:
print(fruits[-1])

mango

In [6]:
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

In [7]:
print(fruits[:4])

('apple', 'banana', 'cherry', 'orange')

In [8]:
print(fruits[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [9]:
print(fruits[-4:-1])

('orange', 'kiwi', 'melon')

# **Update Tuples**

As Tuples values cannot be changed , so we can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [10]:
fruits = ("apple", "banana", "cherry")
y = list(fruits)

In [11]:
y.append("orange")
fruits = tuple(y)

In [12]:
print(fruits)

('apple', 'banana', 'cherry', 'orange')

In [13]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:
fruits = ("apple", "banana", "cherry")
y = list(fruits)
y.remove("apple")
fruits = tuple(y)
print(fruits)

('banana', 'cherry')

In [14]:
fruits = ("apple", "banana", "cherry")
del fruits

# **Unpack tuples**

Unpacking tuples in Python is a way to extract the values from a tuple into separate variables.

assigning the value is "packing" and extracting the value is "unpacking" in python.

In [15]:
#unpacking using Asterisk(*)
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)

apple

In [16]:
print(yellow)

banana

In [17]:
print(red)

['cherry', 'strawberry', 'raspberry']

# **Loop Tuples**

Printing items using for loop and while loop.

In [18]:
fruits = ("apple", "banana", "cherry")
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
cherry

In [19]:
fruits = ("apple", "banana", "cherry")
i =0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

apple
banana
cherry