# **Python Modules**
By J. Sifuna, Ph.D

There are two types of python modules:

1. Buit-in modules
2. User-defined modules

Built-in modules include things like:

- math

- date

- os

- sys

In [46]:
import math
cos90 = math.cos(90)
sin0 = math.sin(0)
tan45 = math.tan(45)
pie = math.pi
print("Value of cos90 is:", cos90)
print("Value of sin0 is:", sin0)
print("Value of tan45 is:",tan45)
print("Value of pie is:",pie)

Value of cos90 is: -0.4480736161291701
Value of sin0 is: 0.0
Value of tan45 is: 1.6197751905438615
Value of pie is: 3.141592653589793

In [47]:
from math import e, tau
print("The value of tau is:",tau)
print("euler's number is:",e)

The value of tau is: 6.283185307179586
euler's number is: 2.718281828459045

In [48]:
from math import sqrt,factorial,pi
print(sqrt(100))
print(factorial(5))
print(pi)

10.0
120
3.141592653589793

In [49]:
import math
x = math.ceil(5.7) #rounds a number upwards to its nearest integer.
y = math.floor(5.7) #rounds a number downwards to its nearest integer
print(x)
print(y)

6
5

In [50]:
#return the power fucntion (x^y)
import math
x = pow(4,3)
print("4 to the power of 3:",x)

4 to the power of 3: 64

In [51]:
import math
x = min(5,10,25)
y = max(5,10,25)

print("Minimum value in x:",x)
print("Maximum value in y:",y)

Minimum value in x: 5
Maximum value in y: 25

In [52]:
#abs() returns the absolute (positive) value of the specified number
import math
x = abs(-49.25)
print(x)

49.25

# **Date & Time**

In [53]:
import datetime
now = datetime.datetime.now()
print(now)
print(now.year)
print(now.month)
print(now.day)

2024-01-25 09:11:16.208694
2024
1
25

In [54]:
import time
print(time.time())

1706173876.2211742

In [55]:
#print current time
import time
print(time.ctime())

Thu Jan 25 09:11:16 2024

In [56]:
#sleep() function inside time module is used to delay execution of current time thread by the given number of seconds.
import time
time.sleep(10)
print(time.ctime())

Thu Jan 25 09:11:26 2024

In [57]:
#To get the output of local time in struct_time format, use the localtime() function.
import time
print(time.localtime(1704229704.6241024)) #use the above tym format

time.struct_time(tm_year=2024, tm_mon=1, tm_mday=2, tm_hour=21, tm_min=8, tm_sec=24, tm_wday=1, tm_yday=2, tm_isdst=0)

In [58]:
#To get the output of Coordinated Universal Time in struct_time format, use the gmtime() function.
import time
print(time.gmtime(1704229704.6241024))

time.struct_time(tm_year=2024, tm_mon=1, tm_mday=2, tm_hour=21, tm_min=8, tm_sec=24, tm_wday=1, tm_yday=2, tm_isdst=0)

In [59]:
#in order to reverse the data into time
import time
local_time = (2024,1,2,21,8,24,1,2,0)
print(time.mktime(local_time))

1704229704.0

In [60]:
#printing in single string
import time
local_time = (2024,1,2,21,8,24,1,2,0)
print(time.asctime(local_time))

Tue Jan  2 21:08:24 2024

In [61]:
#converting string based into struct_time format
import time
local_time = "2 january, 2024"
print(time.strptime(local_time, "%d %B, %Y"))

time.struct_time(tm_year=2024, tm_mon=1, tm_mday=2, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=2, tm_isdst=-1)

In [62]:
#calendar
import calendar
print(calendar.month(2024,1))

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [63]:
import os
import getpass

print(os.getcwd())
print(getpass.getuser())

/content
root

In [64]:
import sys
print(sys.version)
print(sys.argv)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]
['/usr/local/lib/python3.10/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-67ceb884-9260-4224-a56b-93ba3f283246.json']

In [65]:
#using json module
import json
data = {
    "name": "sifuna",
    "age": 33,
    "County": "Nairobi"
}
json_data = json.dumps(data)
print(json_data)

{"name": "sifuna", "age": 33, "County": "Nairobi"}

In [66]:
#using the radom module
import random
print(random.randint(1,100))
print(random.choice([1,2,3,4,5]))

90
1

# **User-Defined modules in Python**

It is created by the user to simplify their project.these modules can contain functions, classes,variables, and other code that you can reuse across multiple scripts.

In [67]:
import math

num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

print("Addition:",num1+num2)
print("Subtraction",num1-num2)
print("Multiplication",num1*num2)
print("Division",num1/num2)

Enter first number:5
Enter second number:6
Addition: 11
Subtraction -1
Multiplication 30
Division 0.8333333333333334

In [68]:
Number = 564
def AddNumber():
  global Number
  Number = Number + 200
print("The number is :",Number)

AddNumber()
print("The number is:",Number)

The number is : 564
The number is: 764